# Laboratorio Avanzado de Pandas

Vamos a cargar la base de datos sobre ventas

In [53]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/DSandovalFlavio/CF-Laboratorio-Avanzado-Pandas/main/data/walmartsales.csv')
df_store = pd.read_csv('https://raw.githubusercontent.com/DSandovalFlavio/CF-Laboratorio-Avanzado-Pandas/main/data/storedesc.csv')

## ¬°Pandas üêº vs el Tiempo üïí!

Como utilizamos las funcionalidades de datetime

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

Cambiamos el tipo de dato de la columna fecha a datetime

In [26]:
df['Date'].head()

0    05-02-2010
1    12-02-2010
2    19-02-2010
3    26-02-2010
4    05-03-2010
Name: Date, dtype: object

In [27]:
pd.to_datetime(df['Date']).head()

ValueError: time data "19-02-2010" doesn't match format "%m-%d-%Y", at position 2. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

¬øComo solucionamos el problema de el formato de la fecha?

Gu√≠a de los c√≥digos de formato m√°s comunes para `strftime`, que te permitir√° personalizar la representaci√≥n de tus fechas y horas:

**Directivas de Formato:**

* **%Y:** A√±o con cuatro d√≠gitos (por ejemplo, 2024).
* **%y:** A√±o con dos d√≠gitos (por ejemplo, 24).
* **%m:** Mes como n√∫mero decimal (01 a 12).
* **%B:** Nombre completo del mes (por ejemplo, Enero).
* **%b:** Nombre abreviado del mes (por ejemplo, Ene).
* **%d:** D√≠a del mes como n√∫mero decimal (01 a 31).
* **%A:** Nombre completo del d√≠a de la semana (por ejemplo, Lunes).
* **%a:** Nombre abreviado del d√≠a de la semana (por ejemplo, Lun).
* **%H:** Hora (reloj de 24 horas) como n√∫mero decimal (00 a 23).
* **%I:** Hora (reloj de 12 horas) como n√∫mero decimal (01 a 12).
* **%p:** AM/PM.
* **%M:** Minuto como n√∫mero decimal (00 a 59).
* **%S:** Segundo como n√∫mero decimal (00 a 61).
* **%f:** Microsegundo como n√∫mero decimal (000000 a 999999).
* **%z:** Desplazamiento UTC (por ejemplo, +0100).
* **%Z:** Nombre de la zona horaria (por ejemplo, CET).
* **%j:** D√≠a del a√±o como n√∫mero decimal (001 a 366).
* **%U:** N√∫mero de la semana del a√±o (domingo como primer d√≠a de la semana) como n√∫mero decimal (00 a 53).
* **%W:** N√∫mero de la semana del a√±o (lunes como primer d√≠a de la semana) como n√∫mero decimal (00 a 53).
* **%c:** Representaci√≥n de fecha y hora apropiada para la configuraci√≥n regional.
* **%x:** Representaci√≥n de fecha apropiada para la configuraci√≥n regional.
* **%X:** Representaci√≥n de hora apropiada para la configuraci√≥n regional.


**Ejemplos:**

* `%Y-%m-%d`: "2024-07-28"
* `%d/%m/%Y %H:%M:%S`: "28/07/2024 19:01:49"
* `%A, %d de %B de %Y`: "Domingo, 28 de Julio de 2024"
* `%I:%M %p`: "07:01 PM"

**Consideraciones Importantes:**

* **Configuraci√≥n Regional (Locale):** El formato de algunos c√≥digos (como `%c`, `%x` y `%X`) depende de la configuraci√≥n regional de tu sistema. Puedes usar `locale.setlocale(locale.LC_TIME, '')` para establecerla al valor predeterminado del sistema.

* **Personalizaci√≥n:** Combina los c√≥digos de formato para crear representaciones de fecha y hora que se adapten a tus necesidades.

* **M√°s Opciones:** Existen muchas m√°s directivas de formato disponibles. Consulta la documentaci√≥n oficial de Python para obtener una lista completa: [https://docs.python.org/es/3/library/datetime.html](https://docs.python.org/es/3/library/datetime.html)

¬°Espero que esta gu√≠a te ayude a aprovechar al m√°ximo las capacidades de formateo de `strftime`!

In [28]:
df['Date'].head()

0    05-02-2010
1    12-02-2010
2    19-02-2010
3    26-02-2010
4    05-03-2010
Name: Date, dtype: object

In [29]:
pd.to_datetime(df['Date'], format='%d-%m-%Y').head()

0   2010-02-05
1   2010-02-12
2   2010-02-19
3   2010-02-26
4   2010-03-05
Name: Date, dtype: datetime64[ns]

In [30]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

### Como extraer temporalidades de una fecha

In [31]:
# A√±o
df['Date'].dt.year.head()

0    2010
1    2010
2    2010
3    2010
4    2010
Name: Date, dtype: int32

In [ ]:
# Mes
df['Date'].dt.month.head()

¬øPor qu√© .dt es tan √∫til?

- **Simplifica el acceso a componentes de fechas**: Evita tener que usar funciones m√°s complejas de Python para extraer a√±os, meses, d√≠as, etc.
- **Facilita c√°lculos y comparaciones**: Permite realizar operaciones aritm√©ticas y comparaciones entre fechas de manera intuitiva.
- **Mejora la legibilidad del c√≥digo**: Hace que tu c√≥digo sea m√°s claro y f√°cil de entender.

Funciones m√°s comunes de .dt:

- `dt.dayofweek`: Extrae el d√≠a de la semana como n√∫mero entero (0 para lunes, 6 para domingo).
- `dt.day_name`: Extrae el nombre del d√≠a de la semana ("Monday", "Tuesday", etc.).
- `dt.month_name`: Extrae el nombre del mes ("January", "February", etc.).

In [32]:
df['Date'].dt.day_of_week.head()

0    4
1    4
2    4
3    4
4    4
Name: Date, dtype: int32

In [36]:
df['Date'].dt.day_name().head()

0    Friday
1    Friday
2    Friday
3    Friday
4    Friday
Name: Date, dtype: object

In [37]:
df['Date'].dt.month_name().head()

0    February
1    February
2    February
3    February
4       March
Name: Date, dtype: object

In [39]:
df['Month'] = df['Date'].dt.month_name()
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,February
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,February
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,February
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,February
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,March
...,...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684,September
6431,45,2012-10-05,733455.07,0,64.89,3.985,192.170412,8.667,October
6432,45,2012-10-12,734464.36,0,54.47,4.000,192.327265,8.667,October
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667,October
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667,October

### Como hacer calculos con fechas

Suma de dias, meses, a√±os a una fecha

In [41]:
df['Date']

0      2010-02-05
1      2010-02-12
2      2010-02-19
3      2010-02-26
4      2010-03-05
          ...
6430   2012-09-28
6431   2012-10-05
6432   2012-10-12
6433   2012-10-19
6434   2012-10-26
Name: Date, Length: 6435, dtype: datetime64[ns]

In [40]:
df['Date'] + pd.DateOffset(days=1)

0      2010-02-06
1      2010-02-13
2      2010-02-20
3      2010-02-27
4      2010-03-06
          ...
6430   2012-09-29
6431   2012-10-06
6432   2012-10-13
6433   2012-10-20
6434   2012-10-27
Name: Date, Length: 6435, dtype: datetime64[ns]

In [42]:
df['Date'] + pd.DateOffset(months=2)

0      2010-04-05
1      2010-04-12
2      2010-04-19
3      2010-04-26
4      2010-05-05
          ...
6430   2012-11-28
6431   2012-12-05
6432   2012-12-12
6433   2012-12-19
6434   2012-12-26
Name: Date, Length: 6435, dtype: datetime64[ns]

In [43]:
df['Date'] + pd.DateOffset(months=2, days=10)

0      2010-04-15
1      2010-04-22
2      2010-04-29
3      2010-05-06
4      2010-05-15
          ...
6430   2012-12-08
6431   2012-12-15
6432   2012-12-22
6433   2012-12-29
6434   2013-01-05
Name: Date, Length: 6435, dtype: datetime64[ns]

Resta de dias, meses, a√±os a una fecha

In [44]:
df['Date'] - pd.DateOffset(years=1, months=2, days=10)

0      2008-11-25
1      2008-12-02
2      2008-12-09
3      2008-12-16
4      2008-12-26
          ...
6430   2011-07-18
6431   2011-07-26
6432   2011-08-02
6433   2011-08-09
6434   2011-08-16
Name: Date, Length: 6435, dtype: datetime64[ns]

In [47]:
pd.Timestamp.now() - df['Date']

0      5289 days 00:06:23.944022
1      5282 days 00:06:23.944022
2      5275 days 00:06:23.944022
3      5268 days 00:06:23.944022
4      5261 days 00:06:23.944022
                  ...
6430   4323 days 00:06:23.944022
6431   4316 days 00:06:23.944022
6432   4309 days 00:06:23.944022
6433   4302 days 00:06:23.944022
6434   4295 days 00:06:23.944022
Name: Date, Length: 6435, dtype: timedelta64[ns]

### Como formatear y filtrar fechas

In [52]:
df['Date'].dt.strftime('%Y-%m').head()

0    2010-02
1    2010-02
2    2010-02
3    2010-02
4    2010-03
Name: Date, dtype: object

In [51]:
df[df['Date'].dt.year == 2012]

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month
100,1,2012-01-06,1550369.92,0,49.01,3.157,219.714258,7.348,January
101,1,2012-01-13,1459601.17,0,48.53,3.261,219.892526,7.348,January
102,1,2012-01-20,1394393.84,0,54.11,3.268,219.985689,7.348,January
103,1,2012-01-27,1319325.59,0,54.26,3.290,220.078852,7.348,January
104,1,2012-02-03,1636339.65,0,56.55,3.360,220.172015,7.348,February
...,...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684,September
6431,45,2012-10-05,733455.07,0,64.89,3.985,192.170412,8.667,October
6432,45,2012-10-12,734464.36,0,54.47,4.000,192.327265,8.667,October
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667,October
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667,October

## ¬°Pandasüêº vs Caos Textualüßπ!

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

##  ¬°Pandas Ninja! üêºü•∑

## ¬°Pandas Conquista SQL! üêº‚öîÔ∏è

## ¬°El Maestro del Match! üêº

## ¬°Pivot Table Pro! üêºüßô‚Äç‚ôÇÔ∏è

## ¬°Pandas, el Cambiaformas! üêº